DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=
CORS_ALLOWED_ORIGINS=
COUNTRY=brasil
EJ_THEME=ej
HOSTNAME=localhost
PYTHONUNBUFFERED=1
DB_HOST=db
DJANGO_SECRET_KEY=
DISABLE_DJANGO_DEBUG_TOOLBAR=False

# Anymail Mailgun keys
# https://anymail.dev/en/stable/
MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=

# Django Core Mail
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True

# RabbitMQ Credentials
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password

JWT_SECRET=

# set this variable to "api" if you want to
# disable assets compilation in the production environment.
SERVER_MODE=web

# set this variable to "False" if you don't want the user
# voting again in comments he already skiped.
# You can edit this value in Django admin, in the Constance page.
RETURN_USER_SKIPED_COMMENTS=True

# Translations and internacionalization
LC_ALL=pt_BR.UTF-8
LANG=pt_BR.UTF-8
LANGUAGE=pt_BR.UTF-8
